extends layout

block content
  -
    function formatRouteName(route) {
      const nameParts = [];

      if (route.route_short_name !== '' && route.route_short_name !== null) {
        nameParts.push(route.route_short_name);
      }

      if (route.route_long_name !== '' && route.route_long_name !== null) {
        nameParts.push(route.route_long_name);
      }
      
      return nameParts.join(' - ');
    }

  .container.mx-4.justify-center
    if !routes || !routes.length
      .bg-blue-700.text-white.font-bold.rounded-lg.border.shadow-lg.text-lg.p-8.m-5 No routes found
    else
      .bg-grey-100.font-bold.rounded-lg.border.shadow-lg.px-8.py-4.m-5
        h1.text-2xl.mb-4 Ridership Graphs
        div.mb-3
          label.mr-3 Route
          select(id="route-select")
            option(value="") Select a Route
            each route in routes
              option(value=route.route_id)= formatRouteName(route)

        div.mb-3.hidden
          label.mr-3 Graph Type
          select(id="graph-type-select")
            option(value="") Select a Graph Type
            option(value="stop") By stop
            option(value="day") By day

        div.mb-3.hidden
          label.mr-3 Direction
          select(id="direction-select")
            option(value="") Select a Direction

        div.mb-3.hidden
          label.mr-3 Day
          select(id="day-select")
            option(value="all") All time

    canvas(id="stop-graph" width="400" height="100" style="display: none;")
    canvas(id="day-graph" width="400" height="100" style="display: none;")


  //- Use #{variable} format to inject values from pug to client side js
  script.
    const routes = !{JSON.stringify(routes) || '\'\''};
