doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/styles.css")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")

  body
    block content

    script(src="http://unpkg.com/luxon" crossorigin="anonymous")
    script(src="https://unpkg.com/lodash" crossorigin="anonymous")
    script(src="https://unpkg.com/chart.js@2" crossorigin="anonymous")
    script(src="/js/index.js")
