doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" crossorigin="anonymous")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")

  body
    block content

    script(src="/js/index.js")
